* {
    font-family: "Roboto", sans-serif;
}
div#root {
    flex: 1 0 0;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    --background: #1e1e1e;
    --bg-c: #292929;
    --border:#2b2b2b;
    --text: white;
    --text-dark: black;
    --text-alt: #2b2b2b;
    --text-desc: #707070;
    --input: #535353;;
}
main {
    display: flex;
    flex: 1 0 0;
    align-self: stretch;
    max-height: 100vh;
}
h1 { font-size: 32px; margin: 0;}
main > .page {
    display: grid;
    grid-auto-columns: 1fr;
    justify-items: center;
    flex: 1 0 0;
    align-self: stretch;
    color: white;
    background: var(--background);
    overflow-y: scroll;
    .extend {
        flex: 1 0 0;
        display: flex;
        justify-content: center;
    }
}
.space {
    width: 100px;
    height: 10vh;
} 
.page .content {
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
    flex: 1 0 0; /* Leave this here */
}
.page.product {
    display: flex;
    .List {
        display: flex;
        flex-direction: column;
        padding:10px 20px ;
        padding-right: clamp(1rem, 2.5vw, 2rem);
        flex: 1 0 0;
    }
}
.page.home {
    padding-top: 2rem;
}
header {
    width: 100%;
    height: fit-content;
    background: var(--border);
    color: var(--text);
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 0;
    gap: 10px;
}
aside#app-aside {
    border-right:2px solid var(--border);
}
.win-Buttons {
    button {
        padding: 0px;
        margin: 0px;
        width: 40px;
        height: 34px;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    button:hover {
        background-color: #00000044;
    }
    button.critical:hover {
        background-color: #ff0101a4;
        svg {
            stroke: white;
        }
    }
}
#prdForm {
    display: flex;
    flex-direction: column;
    aspect-ratio: 3/4;
    height: fit-content;
    max-width: 240px;
    gap: 10px;
    padding: 28px 24px;
    border-radius: 6px;
    input {
        max-width: 200px;
        min-width: 150px;
        height: 24px;
        border: none;
        border-radius: 6px;
        padding-left: 6px;
        background: var(--input);
        color: var(--text);
    }
    input:focus {
        outline: transparent;
    }
    button {
        display: flex;
        width: fit-content;
        padding: 8px 14px;
        border: none;
        border-radius: 6px;
        background-color: black;
        color: var(--text);
    }
}
table {
    min-width: 100%;
    text-align: left;
    font-size: small;

    th {
        border-bottom: 1px solid gray;
        padding: 4px 2px;
    }
    th.ommit {
        color: gray;
    }
    tbody {
        tr:nth-child(odd) {
            background-color: var(--bg-c);
        }
        tr td {
            border-bottom: 1px solid gray;
            padding: 4px 2px;
        }
        td {
            button {
                color: red;                
            }
        }
    }
}
.resizable-container {
  overflow: auto;
  box-sizing: border-box;
}
.dragHandle:active {
    box-sizing: border-box;
    border:1px solid rgb(74, 222, 128);
}

/* Custom Scroll bar */
::-webkit-scrollbar {
  width: 6px;
  background: transparent;
}
::-webkit-scrollbar:hover {
    width: 10px;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  
}

::-webkit-scrollbar-thumb {
  background: rgb(74, 222, 128); 
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(45, 156, 86); 
}
/* end of scroll bar */
article.dummy {
    text-wrap: wrap;
    padding-top: 20px;
    color: var(--text-desc);
    font-size: large;
}